<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      
    </ion-buttons>
    <ion-title> Quienes somos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>Quienes somos?</ion-label>
      <ion-button fill="outline" slot="end">Mas..</ion-button>
    </ion-item>
    <ion-card-content>
         El Politécnico Internacional es una Institución de Educación Superior constituida como una fundación privada sin ánimo de lucro, la cual contribuye a la formación integral de la juventud colombiana, para hacer realidad sus sueños a través de la empleabilidad o el emprendimiento..
    </ion-card-content>
    <ion-card-content>
      <img src="https://politecnicointernacional.edu.co/sw/sites/default/files/glazed-cms-media/politecnico-internacional-institucion-de-educacion-superior-colombia.jpg"/>
  </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>Que nos Diferencia?</ion-label>
      <ion-button fill="outline" slot="end">Mas..</ion-button>
    </ion-item>
    <ion-card-content>
      Modelo decentralizado, la ubicación estratégica de nuestras cuatro sedes facilita a los jóvenes poder ir a estudiar sin incurrir en mayores gastos, debido a la cercanía de estas a sus lugares de vivienda o trabajo. Desde el 2019 implementamos nuestra modalidad virtual, dando más cobertura y llegando a más personas a nivel nacional.     
    </ion-card-content>
    <ion-card-content>
      <img src="https://i.ibb.co/yX5f9wx/Politica-CAL.png"/>
  </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>Nuestro Enfoque</ion-label>
      <ion-button fill="outline" slot="end">Mas..</ion-button>
    </ion-item>
    <ion-card-content>
      El Politécnico Internacional enfoca sus esfuerzos en facilitar el acceso a la educación superior y en apoyar a sus estudiantes en la construcción de su plan de vida, desarrollar las habilidades necesarias para cumplirlo, y acompañarlos en el proceso de vinculación laboral y/o desarrollo de su empresa.   </ion-card-content>
    <ion-card-content>
      <img src="https://i.ibb.co/wMLpf0j/1.png"/>
    </ion-card-content>
      <ion-card-content>
        <img src="https://i.ibb.co/tpZrDfB/2.png"/>
      </ion-card-content>
     
      <ion-card-content>
        <img src="https://i.ibb.co/t8nz1fr/3.png"/>
      </ion-card-content>
      
      <ion-card-content>
        <img src="https://i.ibb.co/xG55fqz/4.png"/>
      </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-item href="#" class="ion-activated">
      <ion-icon name="wifi" slot="start"></ion-icon>
      <ion-label>Puntos de Atencion</ion-label>
    </ion-item>
  
    <ion-item href="#">
      <ion-icon name="school" slot="start"></ion-icon>
      <ion-label>Nuestros Programas</ion-label>
    </ion-item>
  
    <ion-item class="ion-activated">
      <ion-icon name="pricetags" slot="start"></ion-icon>
      <ion-label>Finanzacion</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-icon name="logo-codepen" slot="start"></ion-icon>
      <ion-label>Alianzas </ion-label>
    </ion-item>
    <p>Politecnico internacional® By Oscar Rodriguez Lopez</p>
  </ion-card>



  
</ion-content>
