<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      
    </ion-buttons>
    <ion-title> Actualizar Usuario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
     <ion-card>
      <div class="menu-header-bg"></div>
      <div class="contenido-header">
        <img src="../assets/images/avatar-enfermeria.JPG" alt="Avatar Enfermeria">
      
        <br>
        <ion-label>
          <h2>Florence Nightingale</h2>
          <p>Enfermería</p>
        </ion-label>
      </div>
      <br>
      <br>
      <ion-item>
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label>Usuario:</ion-label>
        <ion-button fill="outline" href="../crear-cuenta" slot="end">Guardar</ion-button>
      </ion-item>
      <ion-card-content>
      
        <ion-list>
          <ion-list-header>Informacion:</ion-list-header>
          <ion-item>
            <ion-thumbnail slot="start">
              
              <img src="https://i.ibb.co/25Yvzxj/6.png">
            </ion-thumbnail>
            <ion-label>
              <h3>Nombres:</h3>
              <ion-input placeholder=""></ion-input>
            </ion-label>
            
          </ion-item>
          <ion-item>
            <ion-thumbnail slot="start">
              <img src="https://i.ibb.co/QdwvL36/8.png">
            </ion-thumbnail>
            <ion-label>
              <h3>Apellidos:</h3>
              <ion-input  placeholder=""></ion-input>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-thumbnail slot="start">
              <img src="https://i.ibb.co/kSxCNx0/7.png">
            </ion-thumbnail>
            <ion-label>
              <h3>Identificacion:</h3>
              <p>1014283459</p>
            </ion-label>
          </ion-item>
    
          <ion-item>
            <ion-thumbnail slot="start">
              <img src="https://i.ibb.co/McQj2Yc/9.png">
            </ion-thumbnail>
            <ion-label>
              <h3>Programa:</h3>
              <p>Enfermeria</p>
            </ion-label>
          </ion-item>
    
    
          <ion-item>
            <ion-thumbnail slot="start">
              <img src="https://i.ibb.co/sF2bqc1/12.png">
            </ion-thumbnail>
            <ion-label>
              <h3>Ciclo:</h3>
              <ion-list>
                
                <ion-item>
                
                  <ion-select>
                    <ion-select-option value="1">#1</ion-select-option>
                    <ion-select-option value="2">#2</ion-select-option>
                    <ion-select-option value="3">#3</ion-select-option>
                    <ion-select-option value="4">#4</ion-select-option>
                    <ion-select-option value="5">#5</ion-select-option>
                    <ion-select-option value="6">#6</ion-select-option>
                    <ion-select-option value="7">#7</ion-select-option>
                    <ion-select-option value="8">#8</ion-select-option>
                    <ion-select-option value="9">#9</ion-select-option>
                    <ion-select-option value="10">#10</ion-select-option>
                  </ion-select>
                </ion-item>
              
                
              
              </ion-list>
            </ion-label>
          </ion-item>
    
          <ion-item>
            <ion-thumbnail slot="start">
              <img src="https://i.ibb.co/Cpyf2QK/10.png">
            </ion-thumbnail>
            <ion-label>
              <h3>Sede:</h3>
              <ion-list>
              <ion-item>
                
                <ion-select>
                  <ion-select-option value="Norte">Sede Norte</ion-select-option>
                  <ion-select-option value="sur">Sede Sur </ion-select-option>
                  <ion-select-option value="Calle80">Sede Calle 80</ion-select-option>
                  <ion-select-option value="kenedy">Sede kenedy </ion-select-option>
                </ion-select>
              </ion-item>
            
              
            
            </ion-list>
          </ion-label>
        </ion-item>
           
    
        </ion-list>
    </ion-card-content>
    <p>Politecnico internacional® By Oscar Rodriguez Lopez</p>
    </ion-card>

 
</ion-content>

