<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Contactenos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
            

  <div class="container-add" style="background-image: url('../assets/images/contactenos/contactenos.jpg');">
    <h2 class="container__title">Contactenos</h2>
  </div>
  <!--formulario-->

  <div class="container_parrafo">
      <strong class="parrafo">Escríbenos y en breve nos pondremos en contacto contigo</strong>
      <hr color="blue" size=3>
  </div>
              <div class="container">
                  <form>
                    <div class="rows">
                      <div class="col-25">
                        <label for="fname">Nombres<span class="obligatorio"> *</span></label>
                      </div>
                      <div class="col-75">
                        <input type="text" required id="fname" name="firstname"  placeholder="Escribe tu nombre" >
                      </div>
                    </div>
                    <div class="rows">
                      <div class="col-25">
                        <label for="lname">E-mail<span class="obligatorio"> *</span></label>
                      </div>
                      <div class="col-75">
                        <input type="text" id="lname" name="lastname" placeholder="Escribe tu e-mail"   >
                      </div>
                    </div>
                    <div class="rows">
                      <div class="col-25">
                        <label for="country">Telefono</label>
                      </div>
                      <div class="col-75">
                        <input type="text" id="lname" name="lastname"  placeholder="Escribe tu telefono">
                      </div>
                    </div>
                    <div class="rows">
                      <div class="col-25">
                        <label for="country">Asunto<span class="obligatorio"> *</span></label>
                      </div>
                      <div class="col-75">
                        <input type="text" id="lname" name="lastname" placeholder="Escribe el asunto">
                      </div>
                    </div>
                    <div class="rows">
                      <div class="col-25">
                        <label for="subject">Mensaje<span class="obligatorio"> *</span></label>
                      </div>
                      <div class="col-75">
                        <textarea id="subject" name="subject"  placeholder="Escribe tu mensaje..." style="height:200px"></textarea>
                      </div>
                    </div><br>
                    <div class="link">
                      <input type="checkbox"> Acepto <a href="https://politecnicointernacional.edu.co/sw/sites/default/files/2019-11/PI%20HABEAS%20DATA-Pol%C3%ADtica%20de%20tratamiento%20datos_0.pdf" target="_blank">las politicas de privacidad y tratamiento de datos personales</a>
                    </div>
                    <div class="rows">
                      <input type="submit" value="Enviar">
                          </div>
                    <p class="aviso">
                        <span class="obligatorio"> (*) </span >los campos son obligatorios.
                    </p> 
                  </form>
                </div>


                <ion-fab vertical="top" horizontal="end" slot="fixed">
                  <ion-fab-button>
                    <ion-icon name="add"></ion-icon>
                  </ion-fab-button>
                  <ion-fab-list>
                    <ion-fab-button color="light">
                      <a href="https://www.facebook.com/PolitecnicoIN" target="_blank"><ion-icon name="logo-facebook"></ion-icon></a>
                    </ion-fab-button>
                    <ion-fab-button color="light">
                      <a href="https://twitter.com/PolitecnicoIn?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank"><ion-icon name="logo-twitter"></ion-icon></a>
                    </ion-fab-button>
                    <ion-fab-button color="light">
                      <a href="https://www.instagram.com/politecnicoin/"><ion-icon name="logo-instagram" target="_blank"></ion-icon></a> 
                    </ion-fab-button>
                    <ion-fab-button color="light">
                      <a href="mailto:servicioalcliente@pi.edu.co?Subject=Contactar" target="_blank"><ion-icon name="at-sharp"></ion-icon></a>
                    </ion-fab-button>
                  </ion-fab-list>
                  
                </ion-fab>
              



                <!--FOOTER-->  
                <footer>
       
                  <div class="container-footer-all">
                   
                       <div class="container-body">
           
                           <div class="colum1">
                               <h1>Mas informacion de la compañia</h1>
           
                               <p> El Politécnico Internacional es una Institución de Educación Superior 
                                 constituida como una fundación privada sin ánimo de lucro, la cual 
                                 contribuye a la formación integral de la juventud colombiana, para hacer 
                                 realidad sus sueños a través de la empleabilidad o el emprendimiento.. </p>
           
                           </div>
           
                           
                           <div class="colum3">
           
                               <h1>Informacion Contacto</h1>
           
                              
           
                               <div class="row2">
                                    <ion-icon name="location-outline"></ion-icon>
                                    <label><a href="https://www.google.com/maps/place/Polit%C3%A9cnico+Internacional+Sede+Av.+Chile/@4.6577156,-74.0574031,15z/data=!4m5!3m4!1s0x0:0xd50e13bd54a7b7b6!8m2!3d4.6577156!4d-74.0574031" target="_blank" >Sede norte calle 72</a></label>
                                </div>

                                <div class="row2">
                                     <ion-icon name="location-outline"></ion-icon>
                                      <label><a href="https://www.google.com/maps/place/Polit%C3%A9cnico+Internacional+Sede+Kennedy/@4.6260416,-74.1539661,17z/data=!3m1!4b1!4m5!3m4!1s0x8e3f9e9e583ba4f3:0x8120bc9f753110d1!8m2!3d4.6260416!4d-74.1517774" target="_blank" >Sede Kennedy</a></label>
                                </div>
                               
                                <div class="row2">
                                  <ion-icon name="location-outline"></ion-icon>
                                  <label><a href="https://www.google.com/maps/place/Polit%C3%A9cnico+Internacional+Sede+Sur/@4.595352,-74.1629597,17z/data=!3m1!4b1!4m5!3m4!1s0x8e3f9efb15e961b1:0xb005f15d67007206!8m2!3d4.595352!4d-74.160771" target="_blank" >Sede sur</a></label>
                                </div>

                                <div class="row2">
                                  <ion-icon name="location-outline"></ion-icon>
                                  <label><a href="https://www.google.com/maps/place/Polit%C3%A9cnico+Internacional+Sede+Calle+80/@4.6868715,-74.081876,15z/data=!4m2!3m1!1s0x0:0xace345e2752387a6?sa=X&ved=2ahUKEwibpbvJtZ7rAhVEhuAKHU4ECpkQ_BIwDXoECA8QCA" target="_blank" >Sede calle 80</a></label>
                                </div>

                               <div class="row2">
                                <ion-icon name="call-outline"></ion-icon>
                                <label>PBX:7950000 Cel: 3183508508</label>
                                
                             
                             
                            </div>

                               <div class="row2">
                                <ion-icon name="mail-outline"></ion-icon>
                                    <label><a href="mailto:servicioalcliente@pi.edu.co?Subject=Contactar%por%correo"> servicioalcliente@pi.edu.co</a></label>
                               </div>
           
                           </div>
           
                       </div>
                   
                   </div>
                   
                   <div class="container-footer">
                          <div class="footer">
                               <div class="copyright">
                                   © 2020 Todos los Derechos Reservados | <a href="">Politecnico internacional</a>
                               </div>
           
                               <div class="information">
                                   <a href="">Informacion Compañia</a> | <a href="">Privacion y Politica</a> | <a href="https://politecnicointernacional.edu.co/sw/sites/default/files/2019-12/Incremento-Derechos-pecuniarios-2020.pdf" target="_blank">Terminos y Condiciones</a>
                               </div>
                           </div>
           
                       </div>
                   
               </footer>
               
         

</ion-content>
