<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Simulación</ion-title>
  </ion-toolbar>
</ion-header>
<style>
  p{
    text-align:right;
  }
</style>
<ion-content>
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-label>
          <h1>Sistema Respiratoria</h1>
          <h4>El Estudiante podra visualizar de manera dinamica partes del sistema respiratorio y su estructura vital</h4>
          <p>
            <ion-button class="boton" href="https://poly.google.com/view/6FtCYTzywiw">
              <ion-icon name="color-wand-outline"></ion-icon>Practicar
            </ion-button>
          </p>
        </ion-label>
        
        
      </ion-item>
      <ion-item>
        <ion-label>
          <h1>Sistema Circulatorio</h1>
          <h4>El Estudiante podra visualizar de manera dinamica partes del sistema Circulatorio y su estructura vital</h4>
          <p>
            <ion-button class="boton" href="https://sketchfab.com/3d-models/heart-lungs-pulmonary-blood-circulation-464bef3ed2af444e8255059b9e07dcef">
              <ion-icon name="color-wand-outline"></ion-icon>Practicar
            </ion-button>
          </p>
        </ion-label>
        
        
      </ion-item>
    </ion-list>
  </ion-card>
  <iframe width="100%" height="480px" src="https://poly.google.com/view/6FtCYTzywiw/embed?chrome=min" frameborder="0" style="border:none;" allowvr="yes" allow="vr; xr; accelerometer; magnetometer; gyroscope; autoplay;" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel="" ></iframe>
  <div class="sketchfab-embed-wrapper">
    <iframe title="A 3D model" width="640" height="480" src="https://sketchfab.com/models/464bef3ed2af444e8255059b9e07dcef/embed?annotation_cycle=5&amp;autospin=0.2&amp;autostart=1&amp;preload=1&amp;ui_controls=0&amp;ui_infos=0&amp;ui_inspector=0&amp;ui_stop=0&amp;ui_watermark=1&amp;ui_watermark_link=1" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
        <a href="https://sketchfab.com/3d-models/heart-lungs-pulmonary-blood-circulation-464bef3ed2af444e8255059b9e07dcef?utm_medium=embed&utm_source=website&utm_campaign=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Heart &amp; Lungs Pulmonary Blood Circulation</a>
        by <a href="https://sketchfab.com/intervoke?utm_medium=embed&utm_source=website&utm_campaign=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">INTERVOKE</a>
        on <a href="https://sketchfab.com?utm_medium=embed&utm_source=website&utm_campaign=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a>
    </p>
</div>


</ion-content>
