<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
     
      
    </ion-buttons>
    <ion-title> Progreso Estudiantes
    </ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content >
    <!-- Default Progress Bar -->
    <ion-searchbar showCancelButton="focus" cancelButtonText="Custom Cancel"></ion-searchbar>
   

<ion-card>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQGvvGq3QCaxHGd_twg5bh7bas_n4Ne0KXOvw&usqp=CAU">
    </ion-thumbnail>
    <ion-label>
      <h3>Nombre: Oscar Rodriguez Lopez</h3>
      <h4>Ciclo: #4</h4>
    </ion-label>
  </ion-item>
    <ion-card-content>
      <ion-list>
        <ion-list-header>
        
          <ion-label>Ejercicio 1</ion-label>
        
        </ion-list-header>
        <ion-progress-bar value="0.8"></ion-progress-bar>
      </ion-list>
      <ion-list>
        <ion-list-header>
          <ion-label>Ejercicio 2</ion-label>
        </ion-list-header>
        <ion-progress-bar value="0.5"></ion-progress-bar>
      </ion-list>
      <ion-list>
        <ion-list-header>
          <ion-label>Ejercicio 3</ion-label>
        </ion-list-header>
        <!-- Progress Bar with Color -->
        <ion-progress-bar color="secondary" value="0.5"></ion-progress-bar>
        <ion-progress-bar color="tertiary" value="0.8"></ion-progress-bar>
        <ion-list-header>
          <ion-label>
            Progreso Total
          </ion-label>
        </ion-list-header>
        <ion-progress-bar value="0.7" buffer="0.8"></ion-progress-bar>
      </ion-list>
  </ion-card-content>
 
</ion-card>
<ion-card>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://image.freepik.com/vector-gratis/ilustracion-avatar-lindo-lince_79416-99.jpg">
    </ion-thumbnail>
    <ion-label>
      <h3>Nombre: Oscar Rodriguez Lopez</h3>
      <h4>Ciclo: #4</h4>
    </ion-label>
  </ion-item>
    <ion-card-content>
      <ion-list>
        <ion-list-header>
     
          <ion-label>Ejercicio 1</ion-label>
     
        </ion-list-header>
        <ion-progress-bar value="0.8"></ion-progress-bar>
      </ion-list>
      <ion-list>
        <ion-list-header>
          <ion-label>Ejercicio 2</ion-label>
        </ion-list-header>
        <ion-progress-bar value="0.5"></ion-progress-bar>
      </ion-list>
      <ion-list>
        <ion-list-header>
          <ion-label>Ejercicio 3</ion-label>
        </ion-list-header>
        <!-- Progress Bar with Color -->
        <ion-progress-bar color="secondary" value="0.5"></ion-progress-bar>
        <ion-progress-bar color="tertiary" value="0.8"></ion-progress-bar>
        <ion-list-header>
          <ion-label>
            Progreso Total
          </ion-label>
        </ion-list-header>
        <ion-progress-bar value="0.7" buffer="0.8"></ion-progress-bar>
      </ion-list>
  </ion-card-content>
 
</ion-card>
<ion-card>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://w7.pngwing.com/pngs/118/617/png-transparent-cartoon-avatar-moe-illustration-super-mary-comics-food-orange-thumbnail.png">
    </ion-thumbnail>
    <ion-label>
      <h3>Nombre: Oscar Rodriguez Lopez</h3>
      <h4>Ciclo: #4</h4>
    </ion-label>
  </ion-item>
    <ion-card-content>
      <ion-list>
        <ion-list-header>
    
          <ion-label>Ejercicio 1</ion-label>
     
        </ion-list-header>
        <ion-progress-bar value="0.8"></ion-progress-bar>
      </ion-list>
      <ion-list>
        <ion-list-header>
          <ion-label>Ejercicio 2</ion-label>
        </ion-list-header>
        <ion-progress-bar value="0.5"></ion-progress-bar>
      </ion-list>
      <ion-list>
        <ion-list-header>
          <ion-label>Ejercicio 3</ion-label>
        </ion-list-header>
        <!-- Progress Bar with Color -->
        <ion-progress-bar color="secondary" value="0.5"></ion-progress-bar>
        <ion-progress-bar color="tertiary" value="0.8"></ion-progress-bar>
        <ion-list-header>
          <ion-label>
            Progreso Total
          </ion-label>
        </ion-list-header>
        <ion-progress-bar value="0.7" buffer="0.8"></ion-progress-bar>
      </ion-list>
  </ion-card-content>
 
</ion-card>
<ion-card>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://thumbs.dreamstime.com/b/la-cara-del-lince-en-vidrios-vector-estilo-plano-ejemplo-102858353.jpg">
    </ion-thumbnail>
    <ion-label>
      <h3>Nombre: Oscar Rodriguez Lopez</h3>
      <h4>Ciclo: #4</h4>
    </ion-label>
  </ion-item>
    <ion-card-content>
      <ion-list>
        <ion-list-header>
         
          <ion-label>Ejercicio 1</ion-label>
    
        </ion-list-header>
        <ion-progress-bar value="0.8"></ion-progress-bar>
      </ion-list>
      <ion-list>
        <ion-list-header>
          <ion-label>Ejercicio 2</ion-label>
        </ion-list-header>
        <ion-progress-bar value="0.5"></ion-progress-bar>
      </ion-list>
      <ion-list>
        <ion-list-header>
          <ion-label>Ejercicio 3</ion-label>
        </ion-list-header>
        <!-- Progress Bar with Color -->
        <ion-progress-bar color="secondary" value="0.5"></ion-progress-bar>
        <ion-progress-bar color="tertiary" value="0.8"></ion-progress-bar>
        <ion-list-header>
          <ion-label>
            Progreso Total
          </ion-label>
        </ion-list-header>
        <ion-progress-bar value="0.7" buffer="0.8"></ion-progress-bar>
      </ion-list>
  </ion-card-content>
 
</ion-card>
<ion-card>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://i0.pngocean.com/files/61/871/661/bart-simpson-the-simpsons-season-23-cartoon-avatar-clip-art-bart-simpson.jpg">
    </ion-thumbnail>
    <ion-label>
      <h3>Nombre: Oscar Rodriguez Lopez</h3>
      <h4>Ciclo: #4</h4>
    </ion-label>
  </ion-item>
    <ion-card-content>
      <ion-list>
        <ion-list-header>
        
          <ion-label>Ejercicio 1</ion-label>
        
        </ion-list-header>
        <ion-progress-bar value="0.8"></ion-progress-bar>
      </ion-list>
      <ion-list>
        <ion-list-header>
          <ion-label>Ejercicio 2</ion-label>
        </ion-list-header>
        <ion-progress-bar value="0.5"></ion-progress-bar>
      </ion-list>
      <ion-list>
        <ion-list-header>
          <ion-label>Ejercicio 3</ion-label>
        </ion-list-header>
        <!-- Progress Bar with Color -->
        <ion-progress-bar color="secondary" value="0.5"></ion-progress-bar>
        <ion-progress-bar color="tertiary" value="0.8"></ion-progress-bar>
        <ion-list-header>
          <ion-label>
            Progreso Total
          </ion-label>
        </ion-list-header>
        <ion-progress-bar value="0.7" buffer="0.8"></ion-progress-bar>
      </ion-list>
  </ion-card-content>
 
</ion-card>
<ion-card>

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQGvvGq3QCaxHGd_twg5bh7bas_n4Ne0KXOvw&usqp=CAU">
    </ion-thumbnail>
    <ion-label>
      <h3>Nombre: Oscar Rodriguez Lopez</h3>
      <h4>Ciclo: #4</h4>
    </ion-label>
  </ion-item>
    <ion-card-content>
      <ion-list>
        <ion-list-header>
          
          <ion-label>Ejercicio 1</ion-label>
        
        </ion-list-header>
        <ion-progress-bar value="0.8"></ion-progress-bar>
      </ion-list>
      <ion-list>
        <ion-list-header>
          <ion-label>Ejercicio 2</ion-label>
        </ion-list-header>
        <ion-progress-bar value="0.5"></ion-progress-bar>
      </ion-list>
      <ion-list>
        <ion-list-header>
          <ion-label>Ejercicio 3</ion-label>
        </ion-list-header>
        <!-- Progress Bar with Color -->
        <ion-progress-bar color="secondary" value="0.5"></ion-progress-bar>
        <ion-progress-bar color="tertiary" value="0.8"></ion-progress-bar>
        <ion-list-header>
          <ion-label>
            Progreso Total
          </ion-label>
        </ion-list-header>
        <ion-progress-bar value="0.7" buffer="0.8"></ion-progress-bar>
      </ion-list>
  </ion-card-content>
 
</ion-card>
<ion-fab horizontal="end" vertical="top" slot="fixed">
      
  <ion-fab-button color="dark">
    <ion-icon md="ellipsis-horizontal-circle" ios="chevron-up-circle-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="button">
    <ion-fab-button color="light" href="../subir-videos">
      <ion-icon name="videocam"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="light" href="../ver-notas">
      <ion-icon name="library"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="light" href="../progreso-est">
      <ion-icon name="git-compare"></ion-icon>
    </ion-fab-button>

    <ion-fab-button color="light" href="../mis-videos">
      <ion-icon name="images"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="light" href="../administrador">
      <ion-icon name="person"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="light" >
      <ion-icon name="lock-open"></ion-icon>
    </ion-fab-button>
    
  </ion-fab-list>
</ion-fab>

</ion-content>
