<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
     
      
    </ion-buttons>
    <ion-title> Administrador
    </ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content fullscreen class="ion-padding">

     <ion-card>
       
      <div class="menu-header-bg"></div>
      <div class="contenido-header">
        <img src="../assets/images/adm.png" alt="Avatar Administrador">
      
        <br>
        <ion-label>
          <h2>Politecnico Internacional</h2>
          <p>Hola Profe, Sube tu Video !</p>
        </ion-label>
      </div>
      <br>
      <br>
     
      <ion-card-content >
        <div class="center">
        <img src="https://i.ibb.co/gWmQtXT/cel1.png" alt="Cel1" class="ion-align-self-end">
      </div>
        <ion-item>
          <ion-icon name="pin" slot="start"></ion-icon>
          <ion-label>Sube Tu video! </ion-label>
         
        </ion-item>
        <ion-card-content>
        <p>Recuerda que no puedes superar los 30 Mb del peso. El video lo podras visualizar en el modulo de "Mis videos"
        </p></ion-card-content>
        <ion-button expand="block">Subir !!!</ion-button>
    </ion-card-content>

    <p>Politecnico internacional® By Oscar Rodriguez Lopez</p>
    </ion-card>
    <ion-fab horizontal="end" vertical="top" slot="fixed">
      
      <ion-fab-button color="dark">
        <ion-icon md="ellipsis-horizontal-circle" ios="chevron-up-circle-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="button">
        <ion-fab-button color="light" href="../subir-videos">
          <ion-icon name="videocam"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="light" href="../ver-notas">
          <ion-icon name="library"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="light" href="../progreso-est">
          <ion-icon name="git-compare"></ion-icon>
        </ion-fab-button>
    
        <ion-fab-button color="light" href="../mis-videos">
          <ion-icon name="images"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="light" href="../administrador">
          <ion-icon name="person"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="light" >
          <ion-icon name="lock-open"></ion-icon>
        </ion-fab-button>
        
      </ion-fab-list>
    </ion-fab>
 
</ion-content>


    
  