<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
  
      
    </ion-buttons>
    <ion-title> Administrador
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
     <ion-card>
      <div class="menu-header-bg"></div>
      <div class="contenido-header">
        <img src="../assets/images/adm.png" alt="Avatar Administrador">
      
        <br>
        <ion-label>
          <h2>Politecnico Internacional</h2>
          <p>Administrador</p>
        </ion-label>
      </div>
      <br>
      <br>
      <ion-item>
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label>Bienvenido !</ion-label>
        <ion-button fill="outline" href="../actualizar-usu" slot="end">Ayuda</ion-button>
      </ion-item>
      <ion-card-content>
      
        <ion-list>
          <ion-list-header>Informacion:</ion-list-header>
          <p>Aqui puedes ingresar las Notas de tus Alumnos</p>
          <ion-item>
            <ion-thumbnail slot="start">
              
              <img src="https://image.freepik.com/vector-gratis/ilustracion-avatar-lindo-lince_79416-99.jpg">
            </ion-thumbnail>
            <ion-label>
              <h3>Nombre:<p>Oscar Rodriguez Lopez</p></h3>
              <h4>Ciclo:<p>#4</p></h4>
              <ion-button href="../">Abrir</ion-button>  
            </ion-label>
            
          </ion-item>
          <ion-item>
            <ion-thumbnail slot="start">
              <img src="https://thumbs.dreamstime.com/b/la-cara-del-lince-en-vidrios-vector-estilo-plano-ejemplo-102858353.jpg">
            </ion-thumbnail>
            <ion-label>
              <h3>Nombre:<p>Oscar Rodriguez Lopez</p></h3>
              <h4>Ciclo:<p>#4</p></h4>
              <ion-button href="../ver-notas">Abrir</ion-button>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-thumbnail slot="start">
              <img src="https://w7.pngwing.com/pngs/118/617/png-transparent-cartoon-avatar-moe-illustration-super-mary-comics-food-orange-thumbnail.png">
            </ion-thumbnail>
            <ion-label>
              <h3>Nombre:<p>Oscar Rodriguez Lopez</p></h3>
              <h4>Ciclo:<p>#4</p></h4>
              <ion-button href="../subir-videos" >Abrir</ion-button>
            </ion-label>
          </ion-item>
    
          <ion-item>
            <ion-thumbnail slot="start">
              <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fpngtree.com%2Fso%2Fwolf-avatar&psig=AOvVaw3ZFyyUVLO3QVRn37YwP2-J&ust=1598719796268000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCPjCgr-tvusCFQAAAAAdAAAAABAQ">
            </ion-thumbnail>
            <ion-label>
              <h3>Nombre:<p>Oscar Rodriguez Lopez</p></h3>
              <h4>Ciclo:<p>#4</p></h4>
              <ion-button href="../subir-videos" >Abrir</ion-button>
            </ion-label>
          </ion-item>
    
          <ion-item>
            <ion-thumbnail slot="start">
              <img src="https://image.freepik.com/vector-gratis/ilustracion-avatar-lindo-lince_79416-99.jpg">
            </ion-thumbnail>
            <ion-label>
              <h3>Nombre:<p>Oscar Rodriguez Lopez</p></h3>
              <h4>Ciclo:<p>#4</p></h4>
              <ion-button href="../subir-videos" >Abrir</ion-button>
            </ion-label>
          </ion-item>
    
        </ion-list>
    </ion-card-content>
    <p>Politecnico internacional® By Oscar Rodriguez Lopez</p>
    </ion-card>
    <ion-fab horizontal="end" vertical="center" slot="fixed">
      
      <ion-fab-button color="dark">
        <ion-icon md="ellipsis-horizontal-circle" ios="chevron-up-circle-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button color="light" href="../subir-videos">
          <ion-icon name="videocam"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="light" href="../ver-notas">
          <ion-icon name="library"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="light" href="../progreso-est">
          <ion-icon name="git-compare"></ion-icon>
        </ion-fab-button>

        <ion-fab-button color="light" href="../mis-videos">
          <ion-icon name="images"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="light" href="../administrador">
          <ion-icon name="person"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="light" >
          <ion-icon name="lock-open"></ion-icon>
        </ion-fab-button>
        
      </ion-fab-list>
    </ion-fab>
 
</ion-content>

